*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: sans-serif;
  display: grid;
  justify-items: center;
  margin: 20rem auto;
  padding: 1.5rem;
}

.main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2.5rem;
}

.bill-container,
.tip-container {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.total-container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  justify-content: center;
}

.btn-reset {
  padding: 1rem 5rem;
}
